<div ng-controller="adDetailCtrl">
    <img src="{{imgPath}}{{item.advertisement_img_url}}" class="img-responsive main-img animated zoomIn"  
         ng-show="item.advertisement_img_url != null"/>
    <div class="pmd-card-title posty">
        <span class="pull-left">  {{item.region_region_name}} <i class="material-icons tiny">location_on</i></span>
        <br/>
            <div class="media-ava" style="margin-bottom:15px;">
                          <a href="javascript:void(0);" class="avatar-list-img pull-right">
                              <img width="40" height="40" src="{{imgPath}}{{item.users_profile_image}}"  ng-show="item.users_profile_image != null" class="imgItm">
                              <img width="40" height="40" src="images/logo.png" ng-show="item.users_profile_image == null" class="imgItm">                   
                          </a>
                          <h3 class="pmd-card-title-text"> {{item.users_full_name}} </h3>
                          <span class="pmd-card-subtitle-text"> منذ: {{ item.advertisement_created_at | elapsed }} </span>
            
                      </div>

    <h3><a href="#!ad_details/{{item.advertisement_id}}"><u>{{item.advertisement_title}}</u></a></h3>
    
        <p data-ng-bind-html="item.advertisement_description | htmlSafe"></p>
             
        <div class="pmd-card-actions clearfix">
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary pull-right" type="button"> 50 <i class="material-icons tiny">thumb_up</i></button>
        <!--<button class="btn pmd-btn-flat pmd-ripple-effect btn-primary pull-right" type="button"> 3 <i class="material-icons tiny">thumb_down</i></button>-->
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary pull-right" type="button"> 10 <i class="material-icons tiny">comment</i></button>
  
        <a href="javascript:void(0);" class="btn pmd-btn-flat pmd-ripple-effect btn-primary pull-right"  ng-click="addToFav(item.advertisement_id)"> 3 <i class="material-icons tiny">favorite</i></a>
           <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary pull-left" type="button" ng-show="item.advertisement_img_url == null"
                ng-click="shareLink(item.advertisement_title,item.advertisement_id);"> شارك <i class="material-icons tiny">share</i></button>            
                
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary pull-left" type="button" ng-show="item.advertisement_img_url != null"
                ng-click="shareLinkImg(item.advertisement_title,item.advertisement_id,item.advertisement_img_url);"> شارك <i class="material-icons tiny">share</i></button>

                <br/>
        <button class="btn btn-success pull-left" data-toggle="modal" data-target="#modalMsg">ارسل رسالة خاصة</button>
        <button class="btn btn-danger pull-left" data-toggle="modal" data-target="#modalReport">ابلاغ</button>
      </div>
        
        <div ng-show="imgs.length > 0">    
        <h3>المزيد من الصور</h3>

            <div class="row">
                <div class="col-xs-6 mb" ng-repeat="img in imgs">
                    <a href="images/profile-pic.png" data-toggle="lightbox" data-gallery="example-gallery">
                      <img src="{{imgPath}}{{img.adv_img}}" class="img-responsive animated zoomIn"  />
                    </a>
                </div>
            </div>
        
        </div>
        <hr/>
        <div ng-show="loged_user.id != null">
<h3> أضف تعليق </h3>
<div class="row addComment">
    <div class="pmd-card-title posty">
            <div class="media-ava" style="margin-bottom:15px;">
                <a href="javascript:void(0);" class="avatar-list-img pull-right">
                    <img width="40" height="40" src="{{imgPath}}{{loged_user.profile_image}}"  ng-show="loged_user.profile_image != null" class="imgItm ">
                    <img width="40" height="40" src="images/logo.png" ng-show="loged_user.profile_image == null" class="imgItm ">                   
                </a><br/>
                <h3 class="pmd-card-title-text commentAddName"> {{loged_user.full_name}} </h3>            
            </div>
    </div>
    <form method="post" class="frmAddComment">
        <div class="form-group pmd-textfield">
        <label for="comment" class="control-label pmd-input-group-label"> تعليقك</label>
        <div class="input-group">                
            <textarea required class="form-control" ng-model="comment" id="comment" ></textarea>
        </div>
      </div>
        <button type="submit" ng-click="sendComment()" class="btn pmd-ripple-effect btn-success btn-block"> أرسل  </button >
    </form>

</div>
        </div>

<h3> التعليقات </h3>
    <div class="row">
        <p ng-show="comments.length < 1">لم تتم اضافة اى تعليقات على هذا الاعلان بعد.</p>
        <div class="pmd-card-title" ng-repeat="comment in comments">
          <div class="media-ava" style="margin-bottom:15px;">
              <a href="javascript:void(0);" class="avatar-list-img pull-right">
                  <img width="40" height="40" src="{{imgPath}}{{comment.users_profile_image}}" ng-show="comment.users_profile_image != null" class="imgItm ">
                  <img width="40" height="40" src="images/logo.png" ng-show="comment.users_profile_image == null" class="imgItm ">
              </a>
              <h3 class="pmd-card-title-text" ng-show="comment.users_full_name != null"> {{comment.users_full_name}} </h3>
              <h3 class="pmd-card-title-text" ng-show="comment.users_full_name == null"> غير معرف </h3>
              <span class="pmd-card-subtitle-text"> منذ: {{comment.adv_comments_comment_date | elapsed}} </span>
            </div>
            <p>{{comment.adv_comments_comment}}</p>
      </div>




    </div>


                </div>
    
    
        <!-- Modal -->
<div class="modal fade in myModl" id="modalMsg" tabindex="-1" role="dialog" 
     aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">رساله خاصه ل | {{ item.users_full_name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form method="post" class="adsFrm">
              <div class="form-group pmd-textfield">       
                 <label for="title" class="control-label pmd-input-group-label">عنوان الرسالة  </label>
                  <div class="input-group">                        
                      <input type="text" name="title_msg" id="title_msg" ng-model="title_msg" class="form-control" required="" />
                </div>                
             </div>
             <div class="form-group pmd-textfield">       
                 <label for="dep_id" class="control-label pmd-input-group-label">نص الرسالة</label>
                  <div class="input-group">                        
                      <textarea name="message" id="message" ng-model="message" class="form-control" required=""></textarea>
                </div>                
             </div>
        <button type="submit" ng-click="send(item.users_id)" class="btn pmd-ripple-effect btn-success btn-block"> ارسل     </button >

          </form>
      </div>
      
    </div>
  </div>
</div>
      
        <!----------------------->
        <div class="modal fade in myModl" id="modalReport" tabindex="-1" role="dialog" 
     aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ابلاغ عن اعلان  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-info">
              <p>            الرسائل المرسلة عبر هذا النموذج لن تصل إلى صاحب الإعلان!</p>
          </div>
           <form method="post" class="adsFrm">
              <div class="form-group pmd-textfield">       
                 <label for="converse" class="control-label pmd-input-group-label">هل هذا الاعلان مخالف </label>
                  <div class="input-group">                        
                      <input type="radio" value="yes" name="converse" ng-model="converse" /> نعم
                      <input type="radio" value="no" name="converse" ng-model="converse" checked="" /> لا
                </div>                
             </div>
             <div class="form-group pmd-textfield">       
                 <label for="cause" class="control-label pmd-input-group-label">سبب الابلاغ  </label>
                  <div class="input-group">                        
                      <textarea name="cause" id="cause" ng-model="cause" class="form-control" required=""></textarea>
                </div>                
             </div>
        <button type="submit" ng-click="sendReport(item.advertisement_dep_id)" class="btn pmd-ripple-effect btn-success btn-block"> ارسل     </button >

          </form>
      </div>
      
    </div>
  </div>
</div>
        
</div>

                