<div class="row" ng-controller="myTopicsCtr">
    <div class="col-xs-12"><h2> {{ title }} </h2></div>
    
    <div class="col-xs-12" ng-repeat="item in items">
        <div class="block_montada">
            <div class="col-xs-3 pull-right favImgBlock">
                <a href="#!topic/{{ item.forum_id }}">
                <img ng-show="item.users_profile_image != null" src="{{imgPath}}/{{item.users_profile_image}}" class="img_montada">
                <img ng-show="item.users_profile_image == null" src="images/logo.png" class="img_montada">
                </a>
            </div>
            <div class="col-xs-6 pull-right nopadding">
                <ul class="see_montada">
                    <li><h3><a href="#!topic/{{ item.forum_id }}">{{item.forum_title}}</a></h3></li><br/>
                    <li><i class="material-icons dp48">history</i>    منذ: {{ item.forum_created_at | elapsed }}</li><br/>
                    <li><i class="material-icons dp48">build</i> {{ item.departements_title }}</li>                   
                </ul>
            </div>
             <div class="col-xs-2">
                 <span class="hand_edit"><a href="#!editTopic/{{ item.forum_id }}" >  <i class="material-icons dp48">edit</i></a>  </span>                
                 <span class="hand_t"><a href="javascript:void(0);" ng-click="deleteTopic(item.forum_id,$index)">  <i class="material-icons dp48">delete</i></a>  </span>                
            </div>
        </div>
    </div>
     
    
</div>